extends ../../layouts/layout

block content
  h1 Последние Посты:
  if posts.length
    ul
      each post, index in posts
        li
          a(href=`/post/${post.id}`)
            h2= post.title
          p
            | Tags:  
            - var tags = post.tags.split(',')
            each tag, tagIndex in tags
              a(href=`/tag/${tag}`)
                span= `#${tag}`
              if tagIndex < tags.length - 1
                |  
          p= post.markdownText
          p Created: #{new Date(post.dateCreate).toLocaleDateString()}
          p Updated: #{new Date(post.dateUpdate).toLocaleDateString()}
          p Author: #{post.user.name} #{post.user.surname}
          if post.comments.length
            ul
              each comment in post.comments
                li
                  h3= `${comment.user.name} ${comment.user.surname}`
                  p= comment.context
          else
            p No comments
  else
    p No posts found
